[Unit]
Description=Reflector

[Service]
ExecStart=/usr/bin/reflector --save /etc/pacman.d/mirrorlist --protocol https --country BR,US --latest 15 --sort rate --download-timeout 60
Restart=on-failure

[Install]
WantedBy=multi-user.target
