: "${PATH:=${HOME}/.bin:${HOME}/.local/.bin:/opt:${PATH}}"
: "${EDITOR:=nvim}"
{%- if "Artix" in YADM_DISTRO %}
: "${SSH_AUTH_SOCK:=${XDG_RUNTIME_DIR}/ssh-agent.sock}"
{%- else %}
: "${SSH_AUTH_SOCK:=${XDG_RUNTIME_DIR}/ssh-agent.socket}"
{%- endif %}
{%- if "server" in YADM_CLASSES %}
: "${AURDEST:=${HOME}/.cache/yay}"
: "${BUILDDIR:=${HOME}/.cache/makepkg}"
: "${CARGO_HOME:=${HOME}/.cache/cargo}"
: "${GOPATH:=${HOME}/.cache/go}"
export AURDEST BUILDDIR
{%- else %}
: "${GOPATH:=/tmp/go}"
: "${CARGO_HOME:=/tmp/cargo}"
{%- endif %}
{%- if "WSL" in YADM_OS %}
: "${XDG_CURRENT_DESKTOP:=Weston}"
: "${XDG_SESSION_DESKTOP:=Weston}"
: "${XDG_SESSION_TYPE:=wayland}"
: "${XDG_CONFIG_HOME:=${HOME}/.config}"
: "${XDG_CACHE_HOME:=${HOME}/.cache}"
: "${XDG_DATA_HOME:=${HOME}/.local/share}"
: "${XDG_STATE_HOME:=${HOME}/.local/state}"
: "${GDK_BACKEND:=wayland}"
: "${GDK_SCALE:=1}"
: "${GTK_USE_PORTAL:=1}"
: "${QT_QPA_PLATAFORM:=wayland;xcb}"
: "${QT_AUTO_SCREEN_SCALE_FACTOR:=1}"
: "${QT_WAYLAND_DISABLE_WINDOWDECORATION:=1}"
: "${ELM_DISPLAY:=wl}"
: "${ELM_SCALE:=1}"
: "${MOZ_ENABLE_WAYLAND:=1}"
: "${SDL_VIDEODRIVER:=wayland,x11}"
: "${CLUTTER_BACKEND:=wayland}"
: "${_JAVA_AWT_WM_NONREPARENTING:=1}"
: "${GALLIUM_DRIVER:=d3d12}"
: "${LIBVA_DRIVER_NAME:=d3d12}"
: "${VDPAU_DRIVER:=va_gl}"
export XDG_CURRENT_DESKTOP XDG_SESSION_DESKTOP \
  XDG_SESSION_TYPE XDG_CONFIG_HOME XDG_CACHE_HOME \
  XDG_DATA_HOME XDG_STATE_HOMEL GDK_BACKEND GDK_SCALE \
  GTK_USE_PORTAL QT_QPA_PLATAFORM QT_AUTO_SCREEN_SCALE_FACTOR \
  QT_WAYLAND_DISABLE_WINDOWDECORATION ELM_DISPLAY ELM_SCALE \
  MOZ_ENABLE_WAYLAND SDL_VIDEODRIVER CLUTTER_BACKEND \
  _JAVA_AWT_WM_NONREPARENTING GALLIUM_DRIVER LIBVA_DRIVER_NAME \
  VDPAU_DRIVER
{%- endif %}
export CARGO_HOME EDITOR GOPATH PATH SSH_AUTH_SOCK