[Desktop Entry]
Name=Discord
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/usr/bin/discord --enable-features=UseOzonePlatform,WaylandWindowDecorations,AllowQt,AcceleratedVideoDecodeLinuxGL,AcceleratedVideoEncoder,VaapiIgnoreDriverChecks{% if "nvidia" in YADM_CLASSES %}VaapiOnNvidiaGPUs{% else %}VaapiVideoDecoder{% endif %} --disable-features=UseSkiaRenderer --gtk-version=4 --ozone-platform=wayland --password-store=gnome-libsecret --disk-cache-dir={{ XDG_RUNTIME_DIR }}/electron --use-gl=angle --use-angle=gl --ignore-gpu-blocklist --enable-zero-copy --enable-gpu-rasterization --disable-gpu-driver-bug-workaround --use-cmd-decoder=passthrough
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin