--enable-features=UseOzonePlatform,WaylandWindowDecorations,AllowQt,AcceleratedVideoDecodeLinuxGL,AcceleratedVideoEncoder,VaapiIgnoreDriverChecks{% if "nvidia" in YADM_CLASSES %}VaapiOnNvidiaGPUs{% else %}VaapiVideoDecoder{% endif %}
--disable-features=UseSkiaRenderer
--gtk-version=4
--ozone-platform=wayland
--password-store=gnome-libsecret
--disk-cache-dir={{ XDG_RUNTIME_DIR }}/chromium
--enable-parallel-downloading
--enable-experimental-web-platform-features
--use-gl=angle
--use-angle=gl
--ignore-gpu-blocklist
--enable-zero-copy
--enable-gpu-rasterization
--disable-gpu-driver-bug-workaround
--use-cmd-decoder=passthrough