polkit.addRule(function (action, subject) {
  if (action.id.indexOf("org.scx.") === 0 && subject.isInGroup("wheel")) {
    return polkit.Result.YES;
  }
});
